body { 
  height:100%;
  background-color: #3A96DD;
  margin: 0px;
  padding: 10px;
  height: 100vh;
}

#header {
	height: 60px;
	width: 100%;
	padding-top: 10px;
  background-color: #3A96DD;
}

#header-content {
  width: 200px;
  margin: auto;
}

#gitbot-logo {
  height: 50px;
  display: block;
  display: inline;
}

a {
  text-align: left;
  text-decoration: none;
  font-size: 30px;
  color: #FFFFFF;
  font-family: Verdana, sans;
  display: inline;
  position: relative;
  top: -13px;
  left: 2px;
}

#chatbox {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border: none;
  height: 80%;
}